 @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lobster Two", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    background: url(./Images/OIP.webp)  ;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0px 30px;
}
.to-do-app{
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border: solid 1px teal;
    border-radius: 8px;
    background: url(./Images/image.jpg) no-repeat;
    box-shadow: 0 0 100px aqua; 
    /* backdrop-filter: blur(10px); */
  }

.to-do-app h1{
    margin-bottom: 10px;
    font-size: 35px;
    color: aqua;
    text-align: center;
}

.form-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-field input{
    flex: 1; /* to fill the space upto + */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 20px;
    background: white;
    padding: 10px;
    border: none;
    color: black;
    border-radius: 15px;
}

.form-field ::placeholder{
    color:gray;
} 

 .form-field button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(gold, white);
    border: 1px solid tomato;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 15px;
    cursor: pointer;
}


.form-field button:hover{
    background: tomato;
}

 .output-container{  
    /* width: 100%; */
   display: flex;
    align-items: center;
    justify-content: center;
}

#list{
    color: goldenrod;
    width: 100%;  
    /* list-style-type: none; */
  } 

 #list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    border: 1px double tomato;
    background: lightslategray;
    border-radius: 8px;
    padding: 5px 7px;
    margin-bottom: 10px;
    font-size: 20px;
    position: relative;
    transition: box-shadw 0.3s ease;
}

 #list li:hover{
    box-shadow: 0 0 15px blueviolet;
 }

#list li .checkbox {
    background: white;
    min-width: 25px;
    height: 20px;
    border: 1px solid aquamarine;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;
    transition: all 1s ease;
}
#list li .checkbox:checked{
    background: rgb(156, 129, 129);
    transform: scale(1);
}

#list li .checkbox:checked::before{
    content: '\2713';
    color: white;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

#list li span{
    flex: 1;
    word-wrap: break-word;  /*cut the long word (add a line break) */
   margin-left: 8px;
}

#list li.completed span{
    text-decoration: 2px line-through black;
    color: black;
}

.list-buttons{
    display: flex;
    gap: 10px;
    margin-right: auto;
}

.list-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.list-buttons button{
    transform: scale(1.1);
}

.list-buttons .edit{
    background: green;
}

.list-buttons .delete{
    background: red;
}

@media (max-width: 600px){
    .container{
        margin: 0 20px;
        padding: 0 10px;
    }
    .to-do-app{
        padding: 20px;
        gap: 20px;
    }
    .form-field input{
        font-size: 16px;
    }
    #list li{
        font-size: 16px;
    }
}

